<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="LogLevel" value="0" />
		<add key="LogFilePath" value="C:\inetpub\logs\phxLog.txt" />
		<add key="UsaProduccion" value="1" />
		<add key="Version" value="3.16" />
		<add key="Build" value="3.16.0" />
	</appSettings>
	<connectionStrings>
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="MfrPersqnufDZHrfQ6Aci9b+xphDH9oOW7JUK4OENLtPJGNvGMApgGRibnjBSHRW" />

		<add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsLm2rdGZ1w0td2EGGLkFSEtCVRq83S1s+sTnTijvYOgzg==" />
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization culture="es-AR" />
        <identity impersonate="false" />
	</system.web>
</configuration>
