<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhxADService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <userSettings>
    <PhxADService.Properties.Settings>
      <setting name="PrefijoDescripcionUsuarioRed" serializeAs="String">
        <value># Phalanx # NO SE NOTIFICO #</value>
      </setting>
      <setting name="LDAPPath" serializeAs="String">
        <value>LDAP://CN=Users,DC=CwxTest</value>
      </setting>
      <setting name="FiltroBuscarNombreLDAP" serializeAs="String">
        <value>(&amp;amp;(objectCategory=person)(sAMAccountName=[username]))</value>
      </setting>
    </PhxADService.Properties.Settings>
  </userSettings>

  <appSettings>
    <add key="UsaProduccion" value="1"/>
    <add key="impersonar" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgOO1m47rStLLX52BE6qHZr/v7evqExOHjXsz+DbcAyThLRqUPfvIRqoy5VFWrHhx2g=="/>
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgOO1m47rStLLX52BE6qHZr/v7evqExOHjXsz+DbcAyThLRqUPfvIRqoy5VFWrHhx2g=="/>
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener"/>
          <add name="fileTrace">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Working Folder\Classworx\Macro\Logs\PhxADService.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace" name="fileTrace">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
