<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="C6ALQWXQINTuWlKvfY9EJzXUwDA1qWnJ9oIqChP/v2SZfVC3D4tdF2lfG7FE2e5ueDNV+E0Jjnk=" />
	  <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="C6ALQWXQINTuWlKvfY9EJzXUwDA1qWnJ9oIqChP/v2SZfVC3D4tdF2lfG7FE2e5ueDNV+E0Jjnk=" />
  </connectionStrings>
  <appSettings>
	  <add key="LogEventViewer" value="1"/>
    <add key="ServiceIntervalMins" value="10"/>
	  <add key="UsaProduccion" value="1"/>
	  <add key="Version" value="3.4"/>
	  <add key="Build" value="3.4.3"/>
  </appSettings>

</configuration>