<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
  </connectionStrings>

  <appSettings>
    <add key="LogEventViewer" value="1"/>
    <add key="ServiceIntervalMins" value="10"/>
    <add key="UsaProduccion" value="1"/>
    <add key="Version" value="3.4"/>
    <add key="Build" value="3.4.3"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\SVN\Classworkx\PhxSvcExpiration.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace"
        name="fileTrace">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
