Common\obj\*/

NDCBL\obj\*/
NDCBL/obj/*
Common/obj/Debug/*
NDCCommon/obj/*
NDCDAL/obj/*
PhalanxAdmin/bin/*
PhalanxAdmin/obj/*
PhalanxBL/bin/
PhalanxBL/obj/
PhalanxCommon/obj/
PhalanxConfig/bin/
PhalanxConfig/obj
PhalanxDAL/PhalanxDAL/obj/
PhalanxMAL/obj
PhalanxNAL/obj
phxCryptMgr/obj/
TestWSInterfaceClaves/bin/
TestWSInterfaceClaves/obj/
Installers/Phalanx Admin/Debug/
Installers/Phalanx Admin/Release/
Common/obj/
phxBlowfish/obj/
phxLog/obj/
*.scc
PhxPing/obj/
PrecompiledWeb/
PhxSvcExpiratonManager/bin
PhxSvcExpiratonManager/obj
RemoveAddressingHeadersAssertion/bin
RemoveAddressingHeadersAssertion/obj
PhalanxDB/obj/
PhalanxDB/sql/debug/
PhalanxBL/bin.kk
PhalanxCommon/obj
PhalanxCommon/obj/
PhalanxCommon/obj/Debug/PhalanxCommon.csproj.FileListAbsolute.txt
PhalanxCommon/obj
PhalanxCommon/obj/
PhalanxMAL/obj/
phxCryptMgr/obj/Debug
phxCryptMgr/obj/*
obj
bin
