<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Principal.master.cs" Inherits="PhalanxWeb.Principal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Phalanx Security Manager</title>
    <link href="phalanx.css" type="text/css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">
    <table id="TableHeader" height="129" cellspacing="0" cellpadding="0" width="100%"
        border="0">
        <tr>
            <td width="83" height="129" rowspan="3">
                <img alt="" src="./image/PhxHead1.gif">
            </td>
            <td width="362" background="./image/PhxHead21.gif" height="80">
            </td>
            <td background="./image/PhxHead31.gif" height="80">
            </td>
            <td width="*" background="./image/PhxHead31.gif" height="80" valign="middle" align="right">
                &nbsp;
            </td>
            <td width="28" background="./image/PhxHead41.gif" height="80">
            </td>
            <td width="13" background="./image/PhxHead51.gif" height="80">
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" bgcolor="#000080" height="20">
                <asp:Label ID="LabelTitle" runat="server" ForeColor="#ffffff" Font-Size="12px" BackColor="Navy"
                    Font-Names="Tahoma" Font-Bold="True"></asp:Label>
            </td>
            <td align="right" width="*" bgcolor="#000080" height="20" nowrap>
                <asp:Label ID="LabelUser" runat="server" ForeColor="#ffffff" Font-Size="XX-Small"
                    BackColor="Navy" Font-Names="Tahoma" Font-Bold="True" Visible="false"></asp:Label>
                <asp:LoginName ID="loginname" runat="server" CssClass="LabelUser" ForeColor="#ffffff"
                    Font-Size="XX-Small" BackColor="Navy" Font-Names="Tahoma" Font-Bold="True" />
                <asp:LoginStatus ID="loginstatus" runat="server" LoginText="[INGRESAR]" LogoutText="[SALIR]"
                    CssClass="LabelUser" ForeColor="Red" Font-Size="XX-Small" BackColor="Navy"
                    Font-Names="Tahoma" Font-Bold="True"
                    onloggingout="loginstatus_LoggingOut" />
            </td>
            <td width="28" bgcolor="#000080" height="20">
            </td>
            <td width="13" background="./image/PhxHead52.gif" height="20">
            </td>
        </tr>
        <tr>
            <td width="362" background="./image/PhxHead23.gif" height="29">
            </td>
            <td width="*" colspan="2" background="./image/PhxHead33.gif" height="29">
            </td>
            <td width="28" background="./image/PhxHead43.gif" height="29">
            </td>
            <td width="13" background="./image/PhxHead53.gif" height="29">
            </td>
        </tr>
    </table>
    <table height="300px" cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr valign="top">
            <td valign="top">
                <asp:ContentPlaceHolder ID="head" runat="server">
                </asp:ContentPlaceHolder>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </td>
        </tr>
    </table>
    <asp:Table ID="Table1" runat="server" Width="100%" Height="30px" CellPadding="0"
        CellSpacing="0" BorderWidth="0px">
        <asp:TableRow>
            <asp:TableCell Height="46px" Width="125">
                <asp:Image ID="ImageF1" Width="125" Height="46" runat="server" ImageUrl="./image/PhxFoot1.gif">
                </asp:Image>
            </asp:TableCell>
            <asp:TableCell Height="46px">
                <asp:Image ID="ImageF2" Width="100%" Height="46" runat="server" ImageUrl="./image/PhxFoot2.gif">
                </asp:Image>
            </asp:TableCell>
            <asp:TableCell Height="46px" Width="136px">
                <asp:Image ID="ImageF3" Width="136" Height="46" runat="server" ImageUrl="./image/PhxFoot3.gif">
                </asp:Image>
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
    </form>
</body>
</html>
