<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhalanxAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhalanxAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="PhalanxVMSRV02PhalanxDesa" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <!--SDG - Phalanx -->
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <!--SDG - Phalanx_Test -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />-->
    <!--EZ - Phalanx -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="D5nv6FyPwAfkPPchB+eLTGJMc7A4aCTSYw6j4QSTSQNrN1tZ9BUPHQGEd8+18nPHCV/xE0K/Fu5IJPnryxoiaDV7Y97FwHna" />-->

    <!--SDG - Meta4 -->
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>
    <!--EZ - Meta4 -->
    <!--<add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>-->

    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>

    <add name="PhalanxVMSrv02DesaMacro" providerName="System.Data.SqlClient" connectionString="MfrPersqnufDZHrfQ6Aci9b+xphDH9oOQ6jAPNlwx5utX/s7YbcQ+wnm5m7/Bgfgd9q0zNBiAD4=" />
    <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc8xH8cmozdwk7S1PIQeYn62lcx250GHMgFHtMy7NudjneWZqiiC5WQTgctwdf21tfGoXPu4+BMxvw==" />
    <add name="PhalanxCasmobile" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc8xH8cmozdwk7S1PIQeYn62lcx250GHMgFHtMy7NudjneWZqiiC5WQTgctwdf21tfGoXPu4+BMxvw==" />
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value=""/>
    <add key="LogFilePath" value="C:\SVN\Classworkx\phxLog.txt"/>
    <add key="ContingenciaActivado" value="0"/>
    <add key="UsaProduccion" value="1"/>
    <add key ="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(samaccountname=[username]))"/>
    <add key ="LDAPPath" value="LDAP://OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <!--  PwdLastSet 1 = Value -->
    <!--  PwdLastSet 0 = InvokeSet -->
    <add key="PwdLastSet" value="1"/>
    <add key="PwdLastSetValue" value="1"/>
  </appSettings>
  <applicationSettings>
    <PhalanxAdmin.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
    </PhalanxAdmin.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PhalanxAdmin.Properties.Settings>
      <setting name="LogLevel2" serializeAs="String">
        <value>0</value>
      </setting>
    </PhalanxAdmin.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\SVN\Classworkx\PhalanxAdmin.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="SessionImpl" />
        <loggerToMatch value="BatcherImpl" />
        <acceptOnMatch value="false" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
  </log4net>
  <!--<log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">

      <param name="File" value="C:\SVN\Classworkx\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>-->
</configuration>