<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="PhalanxVMSRV02PhalanxDesa" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <!--SDG - Phalanx -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />-->
    <!--SDG - Phalanx_Test -->
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7xmU6MjJBhxHdRA2g3YSp4agTE/LIpUNn5KouKx1T6DYEofn3ukLSS3"/>
    <!--SDG - Phalanx_Prod -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1dXz0BMAWXqWXhleUtTURAX4IdMoG2StP2Uh/FG2UeZZ8Mpm3aJOG1JVxrNVbe6D7w==" />-->
    <!--EZ - Phalanx -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="D5nv6FyPwAfkPPchB+eLTGJMc7A4aCTSYw6j4QSTSQNrN1tZ9BUPHQGEd8+18nPHCV/xE0K/Fu5IJPnryxoiaDV7Y97FwHna" />-->

    <!--SDG - Meta4 -->
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7y8V5+Cl5Dyv0SwcaRU4BEFjMPiIQlaJ1ufF8fncpPdaQ=="/>
    <!--EZ - Meta4 -->
    <!--<add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgOO1m47rStLLX52BE6qHZr/v7evqExOHjXsz+DbcAyThLRqUPfvIRqoy5VFWrHhx2g=="/>-->

    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgOO1m47rStLLX52BE6qHZr/v7evqExOHjXsz+DbcAyThLRqUPfvIRqoy5VFWrHhx2g=="/>

    <add name="PhalanxVMSrv02DesaMacro" providerName="System.Data.SqlClient" connectionString="MfrPersqnufDZHrfQ6Aci9b+xphDH9oOQ6jAPNlwx5utX/s7YbcQ+wnm5m7/Bgfgd9q0zNBiAD4="/>
    <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7xmU6MjJBhxHdRA2g3YSp4agTE/LIpUNn5KouKx1T6DYEofn3ukLSS3"/>
    <add name="PhalanxCasmobile" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7xmU6MjJBhxHdRA2g3YSp4agTE/LIpUNn5KouKx1T6DYEofn3ukLSS3"/>
  </connectionStrings>

  <appSettings>
    <add key="LogLevel" value=""/>
    <add key="LogFilePath" value="C:\SVN\Classworkx\phxLog.txt"/>
    <add key="ContingenciaActivado" value="0"/>
    <add key="UsaProduccion" value="1"/>
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(samaccountname=[username]))"/>
    <add key="LDAPPath" value="LDAP://OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <!--  PwdLastSet 1 = Value -->
    <!--  PwdLastSet 0 = InvokeSet -->
    <add key="PwdLastSet" value="1"/>
    <add key="PwdLastSetValue" value="1"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener"/>
          <add name="fileTrace">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Working Folder\Classworx\Macro\Logs\PhalanxAdmin.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace" name="fileTrace">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
