<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhalanxAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhalanxAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PhalanxPhalanxVMSrv01Desa" providerName="System.Data.SqlClient" connectionString="MfrPersqnud2f8jGq3rVj+lSF1eoDCQ6UVOERRaAa64knVMyLnFmSyccY8eRABX2" />
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="MfrPersqnufDZHrfQ6Aci9b+xphDH9oOC/PJcr+u3aUpNV6ANxV0b5AsKR5ElUvI" />
    
    
    <add name="PhalanxVMSrv02DesaMacro" providerName="System.Data.SqlClient" connectionString="MfrPersqnufDZHrfQ6Aci9b+xphDH9oO7ndXWQU9IIkKtlogjOHJbxM7qryYfhpNz+YptSs0upo=" />
    <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsLm2rdGZ1w0td2EGGLkFSEtCVRq83S1s+sTnTijvYOgzg==" />
	  <add name="PhalanxCasmobile" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsLm2rdGZ1w0td2EGGLkFSEtCVRq83S1s+sTnTijvYOgzg==" />
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value="0"/>
    <add key="LogFilePath" value="..\Log\phxLog.txt"/>
	  <add key="ContingenciaActivado" value="0"/>
	  <add key="UsaProduccion" value="1"/>
	  <add key="CodigoAplicacionAltaRed" value="10"/>
  </appSettings>
  <applicationSettings>
    <PhalanxAdmin.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
    </PhalanxAdmin.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PhalanxAdmin.Properties.Settings>
      <setting name="LogLevel2" serializeAs="String">
        <value>0</value>
      </setting>
    </PhalanxAdmin.Properties.Settings>
  </userSettings>
</configuration>