<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TestWSInterfaceClaves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    </configSections>
	<appSettings>
		<add key="Version" value="2.1"/>
	</appSettings>
 <applicationSettings>
  <TestWSInterfaceClaves.Properties.Settings>
   <setting name="TestWSInterfaceClaves_WSInterfaceIngresoTickets_TicketsDeClaves"
    serializeAs="String">
    <value>http://localhost/WSInterfaceClaves/TicketsDeClaves.asmx</value>
   </setting>
  </TestWSInterfaceClaves.Properties.Settings>
 </applicationSettings>
</configuration>