<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TestWSInterfaceClaves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    </configSections>
	<appSettings>
    <add key="Version" value="2.6"/>
    <add key="DebugChgAD" value="1"/>
    <!--<add key ="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>-->
    <add key ="LDAPPath" value="LDAP://CN=Users,DC=CwxTest"/>
    <add key ="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))"/>
    <add key ="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #"/>
  </appSettings>
 <applicationSettings>
  <TestWSInterfaceClaves.Properties.Settings>
   <setting name="TestWSInterfaceClaves_WSTickets_TicketsDeClaves"
    serializeAs="String">
    <value>http://vmsrv01/WSInterfaceClaves/TicketsDeClaves.asmx</value>
   </setting>
  </TestWSInterfaceClaves.Properties.Settings>
 </applicationSettings>
</configuration>