<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Principal.master.cs" Inherits="Principal" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>Banco Macro - Autogesti&oacute;n de Usuario COBIS</title>
    <link href="Styles/common.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form2" runat="server">
        <div class="header">
            <div id="logo">
            </div>
            <div id="title">
                Autogesti&oacute;n de Usuario COBIS</div>
            <div id="usuario">
                <asp:Label ID="LabelUser" runat="server" /> <asp:LinkButton ID="lbLogout" CssClass="logout" Text="[Logout]" runat="server" OnClick="lbLogout_Click" />
            </div>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
