<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="LogLevel" value="0"/>
		<add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt"/>
		<add key="UsaProduccion" value="1"/>
		<add key="CodigoAppAltaTemprana" value="10"/>
		<add key="UsarWinNT" value="1"/>
		<add key="DominiosLogin" value="casmobile|casmobile,Server Desa|vmsrv01"/>
		<add key="Version" value="2.1"/>
	</appSettings>
	<connectionStrings>
		<add name="NDC" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsLm2rdGZ1w0td2EGGLkFSEtCVRq83S1s+sTnTijvYOgzg==" />
		<add name="NDCCont" providerName="System.Data.SqlClient" connectionString="C6ALQWXQINTuWlKvfY9EJzXUwDA1qWnJ9oIqChP/v2SZfVC3D4tdF2lfG7FE2e5ueDNV+E0Jjnk="/>
		<!-- 
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    -->
		<add name="Meta4" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsIWwiSH4JI14ovPfJvN7PKp3Vyhtd7glrU="/>
		<add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsIWwiSH4JI14ovPfJvN7PKp3Vyhtd7glrU="/>
		<!--
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    -->
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				</assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Tickets.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization culture="es-AR"/>
	</system.web>
	<location path="AltaTemprana.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="IdentificacionPositiva.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="tycip.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DetalleTicketIp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
