<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <add key="LogLevel" value="0"/>
    <add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt"/>
    <add key="UsaProduccion" value="1"/>
    <add key="Version" value="2.8.2"/>
    <add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://172.31.84.97:9080/AST-WS-CTS-BLOQUEO-DESBLOQUEO-USUARIOS-COBIS/services/BloqueoDesbloqueoUsuariosCobis"/>
    <add key ="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <add key ="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))"/>
		<add key ="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #"/>
    <add key="DebugChgAD" value="1"/>
    <add key="HorasExpiracionToken" value="72"/>
  </appSettings>
  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="AI3p8OxmgyILHjAxbE/n4SQyTn+mMeMQAUfbybUKpNR1zkjnHshR9w+Em5yzGc9o" />
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="C6ALQWXQINTuWlKvfY9EJzXUwDA1qWnJ9oIqChP/v2SZfVC3D4tdF2lfG7FE2e5ueDNV+E0Jjnk="/>
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="AI3p8OxmgyILHjAxbE/n4SQyTn+mMeMQXNbzbML8+Xx+HH2X7+vPwsy4AkIKWSaj"/>
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc9mnF55TBwh38utuzoVwGy580RfT0SDWsIWwiSH4JI14ovPfJvN7PKp3Vyhtd7glrU="/>
    <!--
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    -->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="es-AR"/>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
  </system.web>
  <location path="AltaTemprana.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IdentificacionPositiva.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="tycip.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicketIp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="c:\temp\InputTraceNotif.webinfo" output="c:\temp\OutputTraceNotif.webinfo"/>
      <detailedErrors enabled="false"/>
    </diagnostics>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>