<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section  name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <add key="RespuestaCobis" value="1"/>
    <add key="LogLevel" value="0"/>
    <add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt"/>
    <add key="UsaProduccion" value="1"/>
    <add key="Version" value="2.8.3"/>
    <add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://localhost:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding"/>
    <add key="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))"/>
    <add key="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #"/>
    <add key="DebugChgAD" value="1"/>
    <add key="HorasExpiracionToken" value="72"/>
    <add key="ADCambioContrasenia.mockADCambioContraseniaSoapBinding" value="http://localhost:8091/mockADCambioContraseniaSoapBinding"/>
    <add key="ADCambioContrasenia_CertificateName" value="desa1"/>
    <!--
      Summary:
      1. AddressBook:          The X.509 certificate store for other users.
      2. AuthRoot:             The X.509 certificate store for third-party certificate authorities (CAs).
      3. CertificateAuthority: The X.509 certificate store for intermediate certificate authorities (CAs).
      4. Disallowed:           The X.509 certificate store for revoked certificates.
      5. My:                   The X.509 certificate store for personal certificates.
      6. Root:                 The X.509 certificate store for trusted root certificate authorities (CAs).
      7. TrustedPeople:        The X.509 certificate store for directly trusted people and resources.
      8. TrustedPublisher:     The X.509 certificate store for directly trusted publishers.
    -->
    <add key="ADCambioContrasenia_CertificateStore" value="5"/>
    <!--
        CurrentUser = 1,
        LocalMachine = 2,
    -->
    <add key="ADCambioContrasenia_CertificateStoreLocation" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>
    <!--
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="7VHfuFe6tvL5IFtqcW0g5Bv+xe/xs/8X2RxyFGIbRWeUrzqXgVUZz4s9rA6py+VgmBWrdWeHUZo5MPhzU0VDyeLbm7bIV+eY" />
    -->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="es-AR"/>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
  </system.web>
  <location path="AltaTemprana.aspx">
    <system.web>
      <authorization> <allow users="*"/>
       
      </authorization>
    </system.web>
  </location>
  <location path="CargaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicket.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IdentificacionPositiva.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NotificacionClave.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ValidaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="tycip.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicketIp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="GeneralLog" />
    </root>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\SVN\Classworkx\NotifClaves.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="true"/>
      <maximumFileSize value="5120KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <logger name="nhibernate-logger" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref=" GeneralLog"/>
    </logger>
  </log4net>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="c:\temp\InputTraceNotif.webinfo" output="c:\temp\OutputTraceNotif.webinfo"/>
      <detailedErrors enabled="false"/>
    </diagnostics>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>