<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Seguridad" value="98EMAPh+eYbqxrdpAFwP0qGw6IvR6ZWc"/>
    
    <add key="Provider" value="WINNT"/>
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(samaccountname=[username]))"/>
    <add key="LDAPPath" value="LDAP://OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
  </appSettings>
</configuration>