<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <connectionStrings>
    <!--SDG - Phalanx -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />-->
    <!--SDG - Phalanx_Test -->
    <add name="Phalanx" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1d2XCGi2DmNTFd9yCK/o2lJAo6YmZ+WW3w=="/>
    <!--EZ - Phalanx -->
    <!--<add name="Phalanx" providerName="System.Data.SqlClient" connectionString="D5nv6FyPwAfkPPchB+eLTGJMc7A4aCTSYw6j4QSTSQNrN1tZ9BUPHQGEd8+18nPHCV/xE0K/Fu5IJPnryxoiaDV7Y97FwHna" />-->

    <add name="PhalanxCont" providerName="System.Data.SqlClient" connectionString="Dtllg/0njc8xH8cmozdwk7S1PIQeYn62lcx250GHMgFHtMy7NudjneWZqiiC5WQTgctwdf21tfGoXPu4+BMxvw=="/>
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value=""/>
    <add key="LogFilePath" value="C:\SVN\Classworkx\phxLog.txt"/>
    <add key="ContingenciaActivado" value="0"/>
    <add key="UsaProduccion" value="1"/>
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(samaccountname=[username]))"/>
    <add key="LDAPPath" value="LDAP://OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <add key="PwdLastSet" value="1"/>
    <add key="PwdLastSetValue" value="1"/>
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\SVN\Classworkx\PhxADService.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace"
        name="fileTrace">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
