<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhalanxBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhalanxBL.Properties.Settings>
            <setting name="NuevoAplicativoBPMEmailSubject" serializeAs="String">
                <value>Atención! Nuevo Aplicativo informado por BPM en Phalanx</value>
            </setting>
            <setting name="NuevoAplicativoBPMEmailBody" serializeAs="String">
                <value>Se deberá parametrizar el atributo de Notificable del aplicativo "{0}". Ir a Parametría / Aplicativos BPM en la aplicación Classworx Phalanx</value>
            </setting>
        </PhalanxBL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
