<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  
  <appSettings>
    <add key="RespuestaCobis" value="1"/>
    <add key="LogLevel" value="0"/>
    <add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt"/>
    <add key="UsaProduccion" value="1"/>
    <add key="Version" value="2.8.3"/>
    <add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://localhost:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding"/>
    <add key="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))"/>
    <add key="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #"/>
    <add key="DebugChgAD" value="1"/>
    <add key="HorasExpiracionToken" value="72"/>
    <add key="ADCambioContrasenia.mockADCambioContraseniaSoapBinding" value="http://localhost:8091/mockADCambioContraseniaSoapBinding"/>
    <add key="ADCambioContrasenia_CertificateName" value="desa1"/>
    <!--
      Summary:
      1. AddressBook:          The X.509 certificate store for other users.
      2. AuthRoot:             The X.509 certificate store for third-party certificate authorities (CAs).
      3. CertificateAuthority: The X.509 certificate store for intermediate certificate authorities (CAs).
      4. Disallowed:           The X.509 certificate store for revoked certificates.
      5. My:                   The X.509 certificate store for personal certificates.
      6. Root:                 The X.509 certificate store for trusted root certificate authorities (CAs).
      7. TrustedPeople:        The X.509 certificate store for directly trusted people and resources.
      8. TrustedPublisher:     The X.509 certificate store for directly trusted publishers.
    -->
    <add key="ADCambioContrasenia_CertificateStore" value="5"/>
    <!--
        CurrentUser = 1,
        LocalMachine = 2,
    -->
    <add key="ADCambioContrasenia_CertificateStoreLocation" value="1"/>
  </appSettings>
  
  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo="/>
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
          <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
    </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
