<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="RespuestaCobis" value="1"/>
		<add key="LogLevel" value="0"/>
		<add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt"/>
		<add key="UsaProduccion" value="1"/>
		<add key="Version" value="2.8.3"/>
		<!--<add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://localhost:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding" />-->
		<add key="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR"/>
		<add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))"/>
		<add key="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #"/>
		<add key="DebugChgAD" value="1"/>
		<add key="HorasExpiracionToken" value="72"/>

		<add key="UsuarioLlamadaWSCOBIS" value="cwxauges"/>
		<add key="IdAppCTSAuth" value="27"/>
		<add key="IdServiceCTSAuth" value="8"/>
		<add key="CTSRestAuthenticationURL" value="https://localhost:7043"/>
		<add key="CTSRestExecutorURL" value="https://localhost:7043"/>

		<add key="ExecutorCobis_distrib" value="C"/>
		<add key="ExecutorCobis_fin_todoservidor" value="S"/>
		<add key="ExecutorCobis_fin_todasesion" value="S"/>
		<add key="ExecutorCobis_t_trn" value="15814"/>

	</appSettings>
	<connectionStrings>
    <!--SDG-->
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7xmU6MjJBhxHdRA2g3YSp4agTE/LIpUNn5KouKx1T6DYEofn3ukLSS3"/>
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgDXweO30bZH2GUADukC/r7y8V5+Cl5Dyv0SwcaRU4BEFjMPiIQlaJ1ufF8fncpPdaQ=="/>
    <!--IAN-->
    <!--add name="NDC" providerName="System.Data.SqlClient" connectionString="wfcLH8/6Mn9kdNVN3nvSB4moYQTPFzO3pBo9rbAiurAudiwwCpO9O+mwJIMHkP2yXAykk1Dr01E8IhoS2GnKZOemr4kMwjIj"/-->
    <!--add name="Meta4" providerName="System.Data.SqlClient" connectionString="wfcLH8/6Mn9kdNVN3nvSB4moYQTPFzO3pBo9rbAiurCawxaJsd1GfseB92Czd4y/5fSiVX8BOVlfFP/DWV66UA=="/-->

    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU="/>
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6yRvoN8xP8qgOO1m47rStLLX52BE6qHZr/v7evqExOHjXsz+DbcAyThLRqUPfvIRqoy5VFWrHhx2g=="/>
	</connectionStrings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
		</httpModules>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization culture="es-AR"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
		</modules>
	</system.webServer>
	<location path="AltaTemprana.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CargaRespuestas.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DetalleTicket.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="IdentificacionPositiva.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="NotificacionClave.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ValidaRespuestas.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="tycip.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DetalleTicketIp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.diagnostics>
		<sources>
			<source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
				<listeners>
					<add name="Default" type="System.Diagnostics.DefaultTraceListener"/>
					<add name="fileTrace">
						<filter type=""/>
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\Working Folder\Classworx\Macro\Logs\NotifClaves.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace" name="fileTrace">
				<filter type=""/>
			</add>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CambioClientBehavior">
					<clientCredentials>
						<clientCertificate findValue="cwxauges.macro.com.ar" storeLocation="CurrentUser" x509FindType="FindBySubjectName"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Desbloqueo">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_Blanqueo">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://CTSCap:9080/AST-WS-CTS-BLOQUEO-DESBLOQUEO-USUARIOS-COBIS/services/BloqueoDesbloqueoUsuariosCobis" behaviorConfiguration="CambioClientBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Desbloqueo" contract="COBISDesbloqueo.BloqueoDesbloqueoUsuariosCobis" name="BloqueoDesbloqueoUsuariosCobis">
				<headers>
					<wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
						<wsse:UsernameToken wsu:Id="UsernameToken-9EA1B1491D48AF515C15025807420401">
							<wsse:Username>cwxauges</wsse:Username>
							<wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">a</wsse:Password>
							<wsse:Nonce EncodingType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soap-message-security-1.0#Base64Binary">HXCPmUjfFtxGMP88RxPv+w==</wsse:Nonce>
							<wsu:Created>2017-08-12T23:32:22.036Z</wsu:Created>
						</wsse:UsernameToken>
					</wsse:Security>
				</headers>
			</endpoint>
			<endpoint address="https://CTSCap:9901/AST-WS-CTS-AD_CAMBIO_CONTRASENIA/services/ADCambioContrasenia" behaviorConfiguration="CambioClientBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Blanqueo" contract="ADCambioContrasenia.ADCambioContrasenia" name="ADCambioContrasenia">
				<headers>
					<wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
						<wsse:UsernameToken wsu:Id="UsernameToken-9EA1B1491D48AF515C15025807420401">
							<wsse:Username>cwxauges</wsse:Username>
							<wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">a</wsse:Password>
							<wsse:Nonce EncodingType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soap-message-security-1.0#Base64Binary">HXCPmUjfFtxGMP88RxPv+w==</wsse:Nonce>
							<wsu:Created>2017-08-12T23:32:22.036Z</wsu:Created>
						</wsse:UsernameToken>
					</wsse:Security>
				</headers>
			</endpoint>
		</client>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
		</diagnostics>
	</system.serviceModel>
</configuration>
