<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="RespuestaCobis" value="1" />
    <add key="LogLevel" value="0" />
    <add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt" />
    <add key="UsaProduccion" value="1" />
    <add key="Version" value="2.8.3" />
    <add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://localhost:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding" />
    <add key="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR" />
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))" />
    <add key="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #" />
    <add key="DebugChgAD" value="1" />
    <add key="HorasExpiracionToken" value="72" />
    <add key="ADCambioContrasenia.mockADCambioContraseniaSoapBinding" value="http://localhost:8091/mockADCambioContraseniaSoapBinding" />
    <add key="ADCambioContrasenia_CertificateName" value="desa1" />
    <!--
      Summary:
      1. AddressBook:          The X.509 certificate store for other users.
      2. AuthRoot:             The X.509 certificate store for third-party certificate authorities (CAs).
      3. CertificateAuthority: The X.509 certificate store for intermediate certificate authorities (CAs).
      4. Disallowed:           The X.509 certificate store for revoked certificates.
      5. My:                   The X.509 certificate store for personal certificates.
      6. Root:                 The X.509 certificate store for trusted root certificate authorities (CAs).
      7. TrustedPeople:        The X.509 certificate store for directly trusted people and resources.
      8. TrustedPublisher:     The X.509 certificate store for directly trusted publishers.
    -->
    <add key="ADCambioContrasenia_CertificateStore" value="5" />
    <!--
        CurrentUser = 1,
        LocalMachine = 2,
    -->
    <add key="ADCambioContrasenia_CertificateStoreLocation" value="1" />
  </appSettings>

  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo=" />
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo=" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="es-AR" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <location path="AltaTemprana.aspx">
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="CargaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicket.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="IdentificacionPositiva.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NotificacionClave.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ValidaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="tycip.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicketIp.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\SVN\Classworkx\NotifClaves.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace" name="fileTrace">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <behaviors />
    <bindings>
      <basicHttpBinding>
        <binding name="BloqueoDesbloqueoUsuariosCobisSoapBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="ADCambioContraseniaSoapBinding" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="NewBinding0" useDefaultWebProxy="true" allowCookies="false">
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              algorithmSuite="Basic128" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vmsrv02:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding"
        binding="wsHttpBinding" bindingConfiguration="NewBinding0" contract="COBISDesbloqueo.BloqueoDesbloqueoUsuariosCobis"
        name="BloqueoDesbloqueoUsuariosCobis" />
      <endpoint address="http://SDG001:8091/mockADCambioContraseniaSoapBinding"
        binding="basicHttpBinding" bindingConfiguration="ADCambioContraseniaSoapBinding"
        contract="ADCambioContrasenia.ADCambioContrasenia" name="ADCambioContrasenia" />
    </client>
  </system.serviceModel>
</configuration>
