<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="RespuestaCobis" value="1" />
    <add key="LogLevel" value="0" />
    <add key="LogFilePath" value="c:\classworx\phalanx\logs\phxLog.txt" />
    <add key="UsaProduccion" value="1" />
    <add key="Version" value="2.8.3" />
    <!--<add key="COBISDesbloqueo.mockBloqueoDesbloqueoUsuariosCobisSoapBinding" value="http://localhost:8088/mockBloqueoDesbloqueoUsuariosCobisSoapBinding" />-->
    <add key="LDAPPath" value="LDAP://DCBA01.macro.com.ar/OU=pruebas,OU=Usuarios,DC=MACRO,DC=COM,DC=AR" />
    <add key="LDAPBuscarNombreFilter" value="(&amp;(objectCategory=person)(sAMAccountName=[username]))" />
    <add key="PrefijoDescripcionUsuarioRed" value="# Phalanx # NO SE NOTIFICO #" />
    <add key="DebugChgAD" value="1" />
    <add key="HorasExpiracionToken" value="72" />
  </appSettings>

  <connectionStrings>
    <add name="NDC" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <add name="NDCCont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4Wr27+RRJiyNWO3XHZfCTeG1cLURuGJ6KB+QxpY1agoBLU=" />
    <add name="Meta4" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo=" />
    <add name="Meta4Cont" providerName="System.Data.SqlClient" connectionString="jqsLPTXKB6y882tWy151kgGJ9Rj4i4WrNG72APljA+WWNYYeo+ihSK8AjdL9DmBEwPv32n6sHoo=" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <globalization culture="es-AR" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <location path="AltaTemprana.aspx">
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="CargaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicket.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="IdentificacionPositiva.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NotificacionClave.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ValidaRespuestas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="tycip.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DetalleTicketIp.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.diagnostics>
    <sources>
      <source name="Classworx.Common.Trace" switchValue="Information, Warning, Error">
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
          <add name="fileTrace">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\SVN\Classworkx\NotifClaves.log" type="Classworx.Common.Trace.GenericHealthModelTraceListener, Classworx.Common.Trace" name="fileTrace">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CambioClientBehavior">
          <clientCredentials>
            <clientCertificate findValue="cwxauges.macro.com.ar" storeLocation="CurrentUser"
              x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Desbloqueo">
        </binding>
        <binding name="BasicHttpBinding_Blanqueo">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://CTSCap:9080/AST-WS-CTS-BLOQUEO-DESBLOQUEO-USUARIOS-COBIS/services/BloqueoDesbloqueoUsuariosCobis"
              binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_Desbloqueo"
               contract="COBISDesbloqueo.BloqueoDesbloqueoUsuariosCobis"
               name="BloqueoDesbloqueoUsuariosCobis" >
          <headers>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
                <wsse:UsernameToken wsu:Id="UsernameToken-9EA1B1491D48AF515C15025807420401">
                  <wsse:Username>cwxauges</wsse:Username>
                  <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">a</wsse:Password>
                  <wsse:Nonce EncodingType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soap-message-security-1.0#Base64Binary">HXCPmUjfFtxGMP88RxPv+w==</wsse:Nonce>
                  <wsu:Created>2017-08-12T23:32:22.036Z</wsu:Created>
                </wsse:UsernameToken>
              </wsse:Security>
          </headers>
      </endpoint>
      <endpoint address="https://CTSCap:9901/AST-WS-CTS-AD_CAMBIO_CONTRASENIA/services/ADCambioContrasenia"
          behaviorConfiguration="CambioClientBehavior"
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_Blanqueo"
          contract="ADCambioContrasenia.ADCambioContrasenia"
          name="ADCambioContrasenia" >
          <headers>
              <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
                <wsse:UsernameToken wsu:Id="UsernameToken-9EA1B1491D48AF515C15025807420401">
                  <wsse:Username>cwxauges</wsse:Username>
                  <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">a</wsse:Password>
                  <wsse:Nonce EncodingType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soap-message-security-1.0#Base64Binary">HXCPmUjfFtxGMP88RxPv+w==</wsse:Nonce>
                  <wsu:Created>2017-08-12T23:32:22.036Z</wsu:Created>
                </wsse:UsernameToken>
              </wsse:Security>
          </headers>
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
</configuration>
